<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rtl.vts_technician">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".Volley.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".Activity.DaywaiseActivityDetailReport" />

        <activity android:name=".Activity.DaywiseActivityReport"
            android:parentActivityName=".Activity.AdminDashBoard"/>

        <activity
            android:name=".Activity.TechnicianList"
            android:parentActivityName=".Activity.AdminDashBoard"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.RegionWiseDownVehicle"
            android:parentActivityName=".Activity.AdminDashBoard" />
        <activity
            android:name=".Activity.PerformanceDetailReport"
            android:parentActivityName=".Activity.PerformanceReport"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.AdminDashBoard"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Activity.AdminLogin" />
        <activity android:name=".Activity.SearchUnmapedVehicle" />
        <activity
            android:name=".Activity.ActivityDownVehicleList"
            android:parentActivityName=".Activity.TechnicianDashboard" />
        <activity
            android:name=".Activity.ActivityVehicleDetail"
            android:parentActivityName=".Activity.ActivityVehicleDetail" />
        <activity
            android:name=".Activity.History_Tab_Activity"
            android:parentActivityName=".Activity.TechnicianDashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.PerformanceReport"
            android:parentActivityName=".Activity.AdminDashBoard"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Activity.Technician_Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.NewMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.AddDevice_Activity"
            android:parentActivityName=".Activity.TechnicianDashboard"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Activity.ProfileActivity"
            android:parentActivityName=".Activity.TechnicianDashboard"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Activity.ProfileEditActivity"
            android:parentActivityName=".Activity.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MaintenaceDevice_Activity"
            android:parentActivityName=".Activity.NewMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Splash_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.TechnicianDashboard"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".Activity.Registration_Activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name=".Activity.DashBoard_Activity_Tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.RawDataResultActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.OTPVerifyActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activity.De_installationActivity"
            android:parentActivityName=".Activity.NewMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SearchViewActivity"
            android:parentActivityName=".Activity.TechnicianDashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SearchViewImeiNoActivity"
            android:parentActivityName=".Activity.TechnicianDashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.AutoSearchViewImeiNoActivity"
            android:parentActivityName=".Activity.TechnicianDashboard"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAnVocT-UekinFqajaQGaPxK4N8Oq6BJkg" />
    </application>

</manifest>